doctype html 
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Ofertas de Empleo FullStack
    link(rel="stylesheet" href="/CSS/styleLogin.css")
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet")

  body
    header
      #divHamburguesa
        button#abrir.abrir-menu
      #nav
        ul
          h3 Menú
          li
            a(href="./") Home
          li
            a(href="./login") Login
          li
            a(href="./registro") Registrar
          li
            a(href="./favoritos") Favoritos
          li
            a(href="./dashboard") Dashboard
          li
            a(href="./users") Usuarios
          li
            a(href="./perfil") Perfil

    main
      #tarjetaSubirOferta
        h2 Subir ofertas
        form#formSubirOferta(action="#")
          #divTituloOferta
            input#inputTituloOferta(type="text" name="inputTitulo" placeholder="Introduce el título...")
          #divEmpresaOferta
            input#inputEmpresa(type="text" name="inputEmpresa" placeholder="Introduce el nombre de la empresa...")
          #divSalarioOferta
            input#inputSalario(type="text" name="inputSalario" placeholder="ex: 20.000 - 30.000...")
          #divlocalizacionOferta
            input#inputLocalizacion(type="text" name="inputLocalizacion" placeholder="Introduce la localizacion...")
          #submitOferta
            input(type="submit" value="Subir")
        p#message
        
    script(src="./script/script.js")