doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Ofertas de Empleo FullStack
    link(rel="stylesheet" href="/css/style.css")
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet")

  body
    header
      #titulo
        img#logoEmpresa(src="imgs/logoRomian.png" alt="Logo de la empresa")
        h4#tituloFavs Favoritos
      #divHamburguesa
        button#abrir.abrir-menu
      #nav
        ul#ulNav
          h3 Menú
          li
            a(href="./") Home

    main
      #filtros
        h2 Filtros
      section
        #ofertasUsuario
          h1 Favoritos
          if Favoritos && Favoritos.length > 0
            each favorito in Favoritos
              h2 #{favorito.title} 
              h4 #{favorito.empresa}
              h4 #{favorito.localizacion}
              h4 #{favorito.salario}
              button#deleteFavBtn Eliminar favorito
          else
            p No favorites found.
              #botonesEjemplo
                button JS
                button HTML
                button CSS

    footer
      p Footer

    script(src="script/script.js")