<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ofertas de Empleo FullStack</title>
    <link rel="stylesheet" href="../public/CSS/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <div id="titulo">
        <img src="../public/IMGs/logoRomian.png" id="logoEmpresa" alt="Logo de la empresa">            
        </div>
        <div id="divBuscador">
            <h2>¿Estás buscando ofertas de trabajo?</h2>
            <input type="text" id="inputBuscador" name="inputBuscador" placeholder="Buscar ofertas...">
        </div>
        <div id="divHamburguesa">
            <button id="botonHamburguesa"></button>
        </div>
    </header>

    <main>
        <div id="filtros">
            <h2>Filtros</h2>
        </div>
        <div id="ejemploTarjeta">
            <h2>Oferta 1</h2>
            <h4>Nombre empresa</h4>
            <h4>Localización</h4>
            <h4>Salario</h4>
            <div id="botonesEjemplo">
                <button>JS</button>
                <button>HTML</button>
                <button>CSS</button>
            </div>
        </div>
    </main>

    <footer>
        <p>Footer</p>
    </footer>

    <script src="script.js"></script>
</body>

</html>