doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Ofertas de Empleo FullStack
    link(rel="stylesheet" href="/css/styleLogin.css")
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet")
    script(src="https://kit.fontawesome.com/27f702310a.js" crossorigin="anonymous")


  body
    header
      #divHamburguesa
        button#abrir.abrir-menu
      #nav
        ul#ulNav
          h3 Menú
          li
            a(href="./") Home

    main
      #tarjetaLogin
        h2 LOGIN
        form#formLogin(action="/" method="POST")
          #divUserName
            input#username(type="text" name="username" placeholder="Introduce email...")
          #divPass
            input#password(type="password" name="passLogin" placeholder="Introduce password...")
          #divSubmitLogin
            input(type="submit" value="Login")
          button#buttonLoginGoogle Login con Google
        #divRecuperarPass
          button#botonRecuperarPass ¿Has olvidado tu contraseña?
          button#botonRegistro ¿Aun no tienes cuenta?
    script(src="script/script.js")