#divHamburguesa
  button#abrir.abrir-menu
#nav
  ul#ulNav
    h3 Menú
    li
      a(href="./") Home
    li
      a(href="./favoritos") Favoritos
    li
      a(href="./dashboard") Dashboard
    li
      a(href="./users") Users
    li
      a(href="./perfil") Perfil
    li
      a(href="./logout") Logout