doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Ofertas de Empleo FullStack
    link(rel="stylesheet" href="/css/styleLogin.css")
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet")

  body
    header
      #divHamburguesa
        button#abrir.abrir-menu
      #nav
        ul#ulNav
          h3 Menú
          li
            a(href="./") Home

    main
      #tarjetaLogin
        h2 REGÍSTRATE
        form#formSignup(action="/" method="POST")
          input#name(type="text" name="name" placeholder="Introduce a name...")
          input#lastname(type="text" name="lastname" placeholder="Introduce a name...")
          input#username(type="text" name="username" placeholder="Introduce a name...")
          input#email(type="email" name="email" placeholder="Introduce an email...")
          input#password(type="password" name="password" placeholder="Introduce a password...")
          input#passwordRepeat(type="password" name="passwordRepeat" placeholder="Repeat password...")
          input#image(type="text" name="image" placeholder="Pon el link a tu imagen...")
          input#botonRegistro(type="submit" value="Regístrate")

    script(src="script/script.js")
