/* Selectores Universales */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}

/* Selectores de Etiqueta */
body {
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 20px;
}

td button {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
}

th {
    background-color: #9452a6;
    text-align: center;
    border: none;
    border-radius: 20px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

footer {
    background-color: #9452a6;
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 92%;
    margin-top: 50px;

}

header {
    justify-content: center;
    padding: 25px;
    background-image: url('../IMGs/bannerWeb.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    min-height: 100vh;
    margin-right: 60px;
    margin-left: 60px;
}

/* Selectores Anidados */
footer p {
    font-size: 0.9em;
    margin-bottom: 5px;
}

#divBuscador h2 {
    display: none;
}


#tituloOferta a {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

#tituloOferta a:hover {
    color: #6e53c1;
}

#tituloOferta {
    margin-bottom: 10px;
}

#empresa {
    margin-bottom: 10px;
    color: #9a52aa;
}

#localizacion {
    margin-bottom: 8px;
}

#salario {
    margin-bottom: 8px;
    color: grey;
    font-size: 13px;
}

#botonesTec {
    display: flex;
}

#botonesTec button {
    margin-right: 15px;
    background-color: white;
    border: none;
    padding: 2px;
    border-radius: 10px;
    font-size: 35px;
}

#addFavBtn,
#deleteFavBtn {
    float: right;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-right: 15px;
    margin-top: 5px;
}
#deleteUserBtn, #ediUserBtn{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
    display: contents;
    width: 20px;

}
header img {
    width: 40%;
    background-color: white;
    border-radius: 50px;
    padding-top: 0;
}

#titulo h4 {
    display: ruby;
    justify-content: center;
    justify-items: center;
    font-size: 20px;
    opacity: 90%;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    margin-top: 20px;
    color: rgb(131, 59, 131);
}

table button {
    width: 90px;
    display: flex;
}

#ofertasUsuario h1 {
    display: grid;
    justify-content: space-around;
    color: #75378f;
}

#divHamburguesa button {
    width: 70px;
    height: 70px;
    border-radius: 20%;
    background-image: url('../IMGs/burger.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
}

#nav button {
    width: 250px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    margin: 17px;
}

#nav button a {
    list-style-type: none;
}

/* Selectores por ID */

#divBuscador {
    position: fixed;
    right: 20%;
    bottom: 84.5%;
    margin-left: 20px;
    width: 70%;
}

#inputBuscador {
    width: 250px;
    height: 60px;
    border-radius: 20px;
    text-align: center;
}

#divHamburguesa {
    position: fixed;
    left: 80%;
    bottom: 83.7%;
}

#tituloUsuarios {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}

.invisible {
    opacity: 0;
    display: none;
}

#cardOferta {
    border: 2px solid rgb(96, 0, 103);
    border-radius: 20px;
    padding: 15px;
    margin-top: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


#ejemploUsuarios {
    padding: 15px;
    margin-top: 60px;

}




#filtros {
    border-bottom: 2px solid black;
    width: 100%;
    margin-bottom: 30px;
    display: grid;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

#titulo {
    font-size: 30px;
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-top: 25%;
}

#titulo a {
    display: flex;
    justify-content: center;
}

#tarjetaSubirOferta input {
    width: 250px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    padding-left: 20px;
    margin-bottom: 20px;
}
#submitOferta{
    display: flex;
    justify-content: center;
}
#tarjetaSubirOferta h2 {
   
    margin-bottom: 20px;
}

#tarjetaSubirOferta {
    border: 2px solid grey;
    border-radius: 20px;
    background-color: white;
    margin-top: 110px;
    margin-bottom: 20%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    display: grid;
    justify-content: center;
    justify-items: center;
}

/* Selectores por Clases */

/* Media queries */

/* Dispositivos grandes (pantallas de escritorio grandes) */
@media (min-width: 1000px) {


    #divBuscador {
        position: static;
        display: block;
        padding: 30px;
        margin: 30px;
        width: 60%;
        border: 2px solid black;
        background-color: white;
        opacity: 80%;
        justify-content: space-around;
        border-radius: 20px;
        margin-left: 17%;
    }

    #titulo {
        font-size: 50px;
        margin-top: 13%;
    }

    #titulo h4 {
        display: ruby;
        justify-content: center;
        justify-items: center;
        font-size: 90px;
        margin-bottom: 90px;
        background-color: white;
        padding: 20px;
        border-radius: 50px;
        opacity: 90%;
    }

    #divBuscador h2 {
        display: block;
        margin-bottom: 30px;
    }

    header {
        padding: 100px;
        padding-top: 200px;
    }

    header img {
        width: 20%;
        background-color: white;
        border-radius: 50px;
        padding-top: 0;
        margin-bottom: 120px;
        position: absolute;
        top: 5%;
        left: 5%;
    }

    #inputBuscador {
        width: 77%;
        height: 40px;
        margin-bottom: 10px;
    }

    #botonBuscador {
        width: 20%;
        height: 40px;
        margin-left: 10px;
        border-radius: 20px;
    }

    #divHamburguesa {
        left: 92%;
        bottom: 83.7%;
    }

    footer {
        width: 97.2%;
    }

    #tarjetaSubirOferta {
        width: 90%;
    }

    #tarjetaSubirOferta input {
        width: 100%;
        height: 30px;
        border-radius: 20px;
        text-align: left;
    }
}

@media (max-width: 999px) {

    #divBuscador h2 {
        display: block;
        margin-bottom: 30px;
        opacity: 0%;
    }

    #inputBuscador {
        width: 70%;
        height: 40px;
        margin-bottom: 10px;
    }

    #botonBuscador {
        width: 20%;
        height: 40px;
        margin-left: 10px;
        border-radius: 20px;
    }



}

@media (max-width: 678px) {
    #thEmail {
        display: none;
    }

    #tdEmailContent {
        display: none;
    }

    th {
        font-size: 80%;
    }

    td {
        font-size: 80%;
    }

    td button {
        width: 70%;
        margin-left: 20px;
    }
}

/* Dispositivos muy pequeños (teléfonos móviles pequeños como el iPhone SE) */
@media (max-width: 375px) {
    main {
        margin-left: 10%;
        margin-right: 10%;
    }

    #divBuscador h2 {
        display: block;
        margin-bottom: 50px;
        opacity: 0%;
    }

    #inputBuscador {
        width: 70%;
        height: 40px;
        margin-bottom: 10px;
    }

    #botonBuscador {
        width: 20%;
        height: 40px;
        margin-left: 10px;
        border-radius: 20px;
    }

    #divHamburguesa button {
        width: 40px;
        height: 40px;
    }

    #divHamburguesa {
        left: 80%;
        bottom: 86.7%;
    }

    footer {
        width: 83%;
    }

    #tituloOferta a {
        font-size: 100%;
    }

    #tituloOferta {
        font-size: 100%;
    }

    #empresa {
        font-size: 100%;

    }

    #localizacion {
        font-size: 100%;

    }

    #salario {
        font-size: 100%;

    }

    #botonesTec button {

        font-size: 100%;
    }

    #addFavBtn,
    #deleteFavBtn {
        float: right;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 20px;
        margin-right: 15px;
        margin-top: 5px;
        text-align: center;
        display: flex;
        justify-content: center;
        justify-self: center;
    }

    #deleteUserBtn, #ediUserBtn{
        background: none;
        border: none;
        cursor: pointer;
        font-size: 20px;
        margin-right: 15px;
        margin-top: 5px;
    }
    #thEmail {
        display: none;
    }

    #tdEmailContent {
        display: none;
    }

    th {
        font-size: 80%;
    }

    td {
        font-size: 70%;
    }

    td button {
        width: 50%;
        height: 20px;
        font-size: 50%;
        margin-left: 10px;
    }

    #ejemploUsuarios {
        padding: 0px;
        margin-top: 60px;
    }

    #tarjetaSubirOferta {
        width: 60%;
    }

    #tarjetaSubirOferta input {
        width: 90%;
    }
}

#abrir {
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

#nav {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    margin-top: 12%;
}

#nav.visible {
    display: block;
    width: 60%;
    position: fixed;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
}

#nav.visible h3 {
    padding: 20px;
    font-size: 30px;
    border-bottom: 2px solid white !important;
}

#divHamburguesa.invisible {
    display: none;
}

#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#nav ul li {
    padding: 15px;
    border-bottom: 1px solid #555;
}

#nav ul li a {
    color: white;
    text-decoration: none;
}

#nav ul li a:hover {
    background-color: #555;
}