/* Selectores Universales */
* {
    font-family: 'Press Start 2P', sans-serif;
    margin: 0;
    padding: 0;
}

/* Selectores de Etiqueta */
body {
    background-color: white;
}

footer {
    align-items: center;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    margin-top: auto;
    width: 100%;
}

header {
    justify-content: center;
    padding: 25px;
    background-image: linear-gradient(purple, rgb(93, 123, 255));
}

main {
    min-height: 100vh;
    margin-right: 40px;
    margin-left: 40px;
}

/* Selectores Anidados */
footer h3 {
    font-size: 0.9em;
    text-align: center;
}

#titulo h4{
    display: ruby;
    justify-content: center;
    justify-items: center;
    font-size: 20px;
}
/* Selectores por ID */

#divBuscador{
    position: fixed;
    right: 30%;
    bottom: 91.5%;
}

#inputBuscador{
    width: 250px;
    height: 40px;
}

#divHamburguesa{
    position: fixed;
    left: 80%;
    bottom: 91%;
}

#divHamburguesa button{
    width: 50px;
    height: 50px;
}

/* EJEMPLO DE TARJETA*/
#ejemploTarjeta{
    border: 2px solid grey;
    border-radius: 5%;
    padding: 15px;
}

#filtros{
    border-bottom: 2px solid black;
    width: 100%;
    margin-bottom: 30px;
    display: grid;
    justify-content: center;
}

#titulo{
    font-size: 30px;
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-top: 15%;
}
/* Selectores por Clases */

/* Media queries */

/* Dispositivos grandes (pantallas de escritorio grandes) */
@media (max-width: 1200px) {
}
/* Dispositivos pequeños (teléfonos móviles, pantallas pequeñas) */
@media (max-width: 480px) {
}

/* Dispositivos muy pequeños (teléfonos móviles pequeños como el iPhone SE) */
@media (max-width: 375px) {
}
