/* Selectores Universales */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}
/* Selectores de Etiqueta */
body {
    background-color: white;
}

footer {
    align-items: center;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    margin-top: auto;
    width: 100%;
}

header {
    justify-content: center;
    padding: 25px;
    background-image: url('../IMGs/bannerWeb.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    min-height: 100vh;
    margin-right: 40px;
    margin-left: 40px;
}

/* Selectores Anidados */
footer h3 {
    font-size: 0.9em;
    text-align: center;
}

#divBuscador h2 {
    display: none;
}

header img{
    width: 40%;
    background-color: white;
    border-radius: 50px;
    padding-top: 0;
}
#titulo h4 {
    display: ruby;
    justify-content: center;
    justify-items: center;
    font-size: 20px;
    opacity: 90%;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    margin-top: 20px;
    color: rgb(131, 59, 131);
}

#divHamburguesa button {
    width: 70px;
    height: 70px;
    border-radius: 20%;
    background-image: url('/public/IMGs/burger.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

/* Selectores por ID */

#divBuscador {
    position: fixed;
    right: 30%;
    bottom: 84.5%;
    margin-left: 20px;
}

#inputBuscador {
    width: 250px;
    height: 60px;
    border-radius: 20px;
    text-align: center;
}

#divHamburguesa {
    position: fixed;
    left: 80%;
    bottom: 83.7%;
}



/* EJEMPLO DE TARJETA*/
#ejemploTarjeta {
    border: 2px solid grey;
    border-radius: 20px;
    padding: 15px;
}

#filtros {
    border-bottom: 2px solid black;
    width: 100%;
    margin-bottom: 30px;
    display: grid;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

#titulo {
    font-size: 30px;
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-top: 25%;
}

/* Selectores por Clases */

/* Media queries */

/* Dispositivos grandes (pantallas de escritorio grandes) */
@media (min-width: 1000px) {

    
    #divBuscador {
        position: static;
        display: block;
        padding: 30px;
        margin: 30px;
        width: 60%;
        border: 2px solid black;
        background-color: white;
        opacity: 80%;
        justify-content: space-around;
        border-radius: 20px;
        margin-left: 17%;
    }
 
    #titulo {
        font-size: 50px;
        margin-top: 13%;
    }
    #titulo h4 {
        display: ruby;
        justify-content: center;
        justify-items: center;
        font-size: 90px;
        margin-bottom: 90px;
        background-color: white;
        padding: 20px;
        border-radius: 50px;
        opacity: 90%;
    }
    #divBuscador h2 {
        display: block;
        margin-bottom: 30px;
    }
    header{
        padding: 100px;
        padding-top: 200px ;
    }
    header img{
        width: 20%;
        background-color: white;
        border-radius: 50px;
        padding-top: 0;
        margin-bottom: 120px;
        position: absolute;
        top: 5%;
        left: 5%;
    }
    #inputBuscador {
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
    }
    #divHamburguesa {
        left: 92%;
        bottom: 83.7%;
    }
}

@media (max-width: 999px) {

    #divBuscador h2 {
        display: block;
        margin-bottom: 30px;
    }

    #inputBuscador {
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
    }
}

/* Dispositivos muy pequeños (teléfonos móviles pequeños como el iPhone SE) */
@media (max-width: 375px) {}