/* Selectores Universales */
* {
    margin: 0;
    padding: 0;
}

/* Selectores de Etiqueta */
body {
    background-color: white;
}

main {
    display: grid;
    justify-content: center;
    justify-items: center;
    min-height: 100vh;
    padding-right: 40px;
    padding-left: 40px;
    background-image: url('../IMGs/bannerWeb.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
footer {
    background-color: #6e53c1;
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
  }
  footer p {
    font-size: 0.9em;
    margin-bottom: 5px;
}
h2{
    font-size: 30px;
    display: grid;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

/* Selectores Anidados */

#divHamburguesa button {
    width: 60px;
    height: 60px;
    border-radius: 20%;
    background-image: url('../IMGs/burger.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
}

#tarjetaLogin input, #tarjetaPerfil input{
    width: 250px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
}
#tarjetaSubirOferta input{
    width: 250px;
    height: 30px;
    border-radius: 20px;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 20px;
}
#divDetallesOferta input{
    width: 250px;
    height: 300px;
    border-radius: 20px;
    text-align: left;
}
#tarjetaLogin button, #tarjetaPerfil button{
    width: 250px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
}
#divRecuperarPass button{
    border: 0;
    background-color: white;
    color: rgb(0, 72, 173);
}
#submitOferta input{
    text-align: center;
}

#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#nav ul li {
    padding: 15px;
    border-bottom: 1px solid #555;
}
#nav ul li a {
    color: white;
    text-decoration: none;
}
#nav ul li a:hover {
    background-color: #555;
}
#nav button{
    width: 250px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
}
/* Selectores por ID */

#divHamburguesa {
    position: fixed;
    left: 85%;
    bottom: 81.7%;
}

#tarjetaLogin{
    border: 2px solid grey;
    border-radius: 20px;
    background-color: white;
    margin-top: 110px;
    margin-bottom: 15%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    display: flexbox;
}
#tarjetaPerfil{
    border: 2px solid grey;
    border-radius: 20px;
    background-color: white;
    opacity: 97%;
    margin-top: 290px;
    margin-bottom: 15%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
}
#tarjetaSubirOferta{
    border: 2px solid grey;
    border-radius: 20px;
    background-color: white;
    margin-top: 110px;
    margin-bottom: 80%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    display: flexbox;
}

#divEmail, #divPass, #divPerfilEmail, #divPerfilNombre, #fotoPerfil, #divSubmitLogin, #divTituloOferta, #divEmpresaOferta, #divDetallesOferta, #divSalarioOferta{
    margin-bottom: 20px;
    font-size: 20px;
}
#submitOferta{
    margin-bottom: 20px;
    font-size: 20px;
    justify-content: center;
    text-align: center;
}

#formSignup, #formSubirOferta{
    display: grid;

}
#nameSignup, #emailSignup, #passSignup, #passSignupRepeat, #botonRegistro {
    margin-bottom: 20px;
}
#divPass{
    margin-bottom: 30px;
}

#divRecuperarPass{
    margin-top: 20px;
    display: grid;
}


#abrir {
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}
#nav {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);

}

#nav.visible {
    display: block;
    width: 60%;
    position: fixed;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
}

#nav.visible h3{
padding: 20px;
font-size: 30px;
border-bottom  : 2px solid white !important;
}

#divHamburguesa.invisible {
    display: none;
}

/* Selectores por Clases */

/* Media queries */

/* Dispositivos grandes (pantallas de escritorio grandes) */
@media (min-width: 1200px) {

    #divHamburguesa {
        left: 92%;
        bottom: 83.7%;
    }
    

    #tarjetaSubirOferta{
        width: 1000px;
    }
    #tarjetaSubirOferta input{
        width: 100%;
        height: 30px;
        border-radius: 20px;
        text-align: left;
    }
    #submitOferta{
        margin-bottom: 20px;
        font-size: 20px;
        justify-content: center;
        text-align: center;
        width: 50%;
        margin-left: 250px;
    }
    #submitOferta input{
        text-align: center;
    }
    #divDetallesOferta input{
        width: 100%;
        height: 300px;
        border-radius: 20px;
        text-align: right;
    }
    h2{
        margin-top: 40px;
        margin-bottom: 80px;
    }

}

/* Dispositivos muy pequeños (teléfonos móviles pequeños como el iPhone SE) */
@media (max-width: 375px) {
    #tarjetaSubirOferta{
        width: 60%;
    }
    #tarjetaSubirOferta input{
        width: 90%;
    }
    #divHamburguesa button{
        width: 40px;
        height: 40px;
    }
    #tarjetaPerfil, #tarjetaLogin{
        width: 50%;
    }
    #tarjetaPerfil input, #tarjetaLogin input{
        width: 100%;
    }
    #tarjetaPerfil button, #tarjetaLogin button{
        width: 100%;
    }
}

