<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ofertas de Empleo FullStack</title>
    <link rel="stylesheet" href="../../public/CSS/styleLogin.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <div id="divHamburguesa">
            <button id="botonHamburguesa"></button>
        </div>
    </header>
    <main>
        <div id="tarjetaSubirOferta">
            <h2>Subir ofertas</h2>
            <form id="formSubirOferta" action="#" method="POST">
                <div id="divTituloOferta">
                    <input type="text" id="inputTituloOferta" name="inputTituloOferta" placeholder="Introduce el título...">
                </div>
                <div id="divEmpresaOferta">
                    <input type="text" id="inputEmpresa" name="inputEmpresa" placeholder="Introduce el nombre de la empresa...">
                </div>
                <div id="divDetallesOferta">
                    <input type="text" id="inputDetalles" name="inputDetalles" placeholder="Introduce los detalles...">
                </div>
                <div id="divSalarioOferta">
                    <input type="text" id="inputSalario" name="inputSalario" placeholder="Introduce el salario...">
                </div>
                <div id="submitOferta">
                    <input type="submit" value="Subir">
                </div>
            </form>
        </div>
    </main>
</body>

</html>