<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ofertas de Empleo FullStack</title>
    <link rel="stylesheet" href="../../public/CSS/styleLogin.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <div id="divHamburguesa">
            <button id="botonHamburguesa"></button>
        </div>
    </header>
    <main>
        <div id="tarjetaPerfil">
            <h2>PERFIL</h2>
            <form id="formPerfil" action="#" method="POST">
                <div id="divPerfilEmail">
                    <input type="email" id="emailLogin" name="emailLogin" placeholder="Introduce email...">
                </div>
                <div id="divPerfilNombre">
                    <input type="text" id="inputNombrePerfil" name="inputNombrePerfil" placeholder="Introduce nombre de usuario...">
                </div>
                <div id="fotoPerfil">
                    <input type="text" id="inputFotoPerfil" name="inputFotoPerfil" placeholder="Foto de perfil...">
                </div>
                <div id="divSubmitPerfil">
                    <input type="submit" value="Login">
                </div>
            </form>
            <div id="divRecuperarPass">
                <button id="botonRecuperarPass">¿Has olvidado tu contraseña?</button>
            </div>
        </div>
    </main>
</body>

</html>