<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ofertas de Empleo FullStack</title>
    <link rel="stylesheet" href="../../public/CSS/styleLogin.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <div id="divHamburguesa">
            <button id="botonHamburguesa"></button>
        </div>
    </header>
    <main>
        <div id="tarjetaLogin">
            <h2>REGÍSTRATE</h2>
                <form id="formSignup" action="#" method="POST">
                    <input type="text" id="nameSignup" name="nameSignup" placeholder="Introduce a name...">
                    <input type="email" id="emailSignup" name="emailSignup" placeholder="Introduce an email...">
                    <input type="password" id="passSignup" name="passSignup" placeholder="Introduce a password...">
                    <input type="password" id="passSignupRepeat" name="passSignupRepeat"
                        placeholder="Repeat password...">
                    <input type="submit" id="botonRegistro" value="Signup">
                </form>
        </div>
    </main>
</body>

</html>