<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ofertas de Empleo FullStack</title>
    <link rel="stylesheet" href="../../public/CSS/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <div id="titulo">
            <img src="../../public/IMGs/logoRomian.png" id="logoEmpresa" alt="Logo de la empresa">
            <h4 id="tituloFavs">Usuarios</h4>
        </div>
        <div id="divHamburguesa">
            <button id="botonHamburguesa"></button>
        </div>
    </header>

    <main>
        <div id="tituloUsuarios">
            <h3>Lista de usuarios registrados</h3>
        </div>
        <div id="ejemploUsuarios">
            <table>
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Email</th>
                        <th>Borrar_Usuario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Juan Pérez</td>
                        <td>juan.perez@example.com</td>
                        <td><button>Borrar</button></td>
                    </tr>
                    <tr>
                        <td>María García</td>
                        <td>maria.garcia@example.com</td>
                        <td><button>Borrar</button></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </main>

    <footer>
        <p>Footer</p>
    </footer>

    <script src="script.js"></script>
</body>

</html>